
.game-settings {
  .error{
    color: red;
    font-weight: bold;
  }
  .options-wrapper {
    .option {
      display: flex;
      justify-content: space-between;
      gap: 10px;
      margin-bottom: 8px;
      color: black;

      input {
        width: 50px;
      }
    }
  }
  button {
    &:hover{
      background-color: #afafaf;
    }
  }
}
